*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(92, 92, 92);
}

.shifumi{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

.score{
    display: flex;
    justify-content: space-around;
    width: 30%;
    border: white;
    border-style: groove;
    color: white;
}

.selection{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border: white;
    border-style: groove;
    color: white;
}


#reset-button{

    display: flex;
    justify-content: center;
    width: 10%;
    height: 5%;
    font-weight: bold;
    font-size: 40px;
    border: white;
    border-style: groove;
    color: white;
}

.ia{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 30%;
    height: 200px;
}

.user{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 200px;
}

image{
    height: 100px;
    width: 50px;
}

#pierre-user, #pierre-ia{
    display: flex;
    /* source : https://www.flaticon.com/free-icon/cave-painting_925141?term=rock&page=1&position=3*/
    background-image: url("./assets/rock.png");
    background-repeat: no-repeat;
    background-size: 250px 250px;
}

#pierre-ia{
    display: none;
}

#papier-user, #papier-ia{
    display: flex;
    /*source :  https://www.flaticon.com/free-icon/leaf_2917995?term=leaves&page=1&position=4 */
    background-image: url("./assets/leaves.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#papier-ia{
    display: none;
}
#ciseau-user, #ciseau-ia{
    display: flex;
    /* source : https://www.flaticon.com/free-icon/pruners_740824?term=secateur&page=1&position=6*/
    background-image: url("./assets/scissors.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#ciseau-ia{
    display: none;
}

h3{
    font-weight: bold;
    font-size: 30px;
}