*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

.shifumi{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

.score{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 25%;
}

.ia{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    width: 60%;
    height: 150px;
}

.user{
    display: flex;
    justify-content: space-between;
    background-color: green;
    width: 60%;
    height: 150px;
}


#pierre-user, #pierre-ia{
    display: flex;
    justify-content: center;
    background-image: url('./assets/pierre.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#papier-user, #papier-ia{
    display: flex;
    justify-content: center;
    background-image: url('./assets/papier.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#ciseau-user, #ciseau-ia{
    display: flex;
    justify-content: center;
    background-image: url('./assets/ciseau.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


h3{
    font-weight: bold;
}